<!-- API LINK: http://tasksapi.docelove.cf -->


<!-- DABLA DAWERILI KODI UNDA GADAVIDES SHESABAMIS CHILD COMPONENTSHI -->

<div class="Search-task">
  <input type="text" name="" placeholder="Search.." (keyup)="search($event)">
  <img src="assets/img/search.png" alt="icon">
</div>


<div class="New">
  <div class="Button" (click)="createNew =! createNew"> New</div>

  <input type="text" name="" placeholder=" Create a new task.."*ngIf="createNew">

  <div class="Today" *ngIf="!createNew">
    <input type="date" name="" value="" >
  </div>

  <div class="Calendar"> <img src="assets/img/calendar.png"> </div>
</div>

<div class="Tools">
  <div class="Tool Sorting" (click)="sorting = !sorting">
    <p>Sort By</p>
    <img src="assets/img/dropdown.png" alt="icon" [class]="sortingDrop">
  </div>

  <div class="Sorting-list" *ngIf="sorting">
    <div class='sorter' [class]="{'Activated-sorter' : sorter == 'all'}" (click)="sort('all')"> <p >All</p> </div>
    <div class="sorter" [class]="{'Activated-sorter' : sorter == 'Newest'}" (click)="sort('Newest')"> <p>Newest</p> </div>
    <div class="sorter" [class]="{'Activated-sorter' : sorter == 'Latest'}" (click)="sort('Latest')"> <p>Latest</p> </div>
    <div class="sorter" [class]="{'Activated-sorter' : sorter == 'Project 1'}" (click)="sort('Project 1')"> <p>Project 1</p> </div>
    <div class="sorter" [class]="{'Activated-sorter' : sorter == 'Project 2'}" (click)="sort('Project 2')"> <p>Project 2</p> </div>
  </div>

  <div class="Tool Activated"> <p (click)="CheckAll()">Check All</p> </div>
  <div class="Tool"> <p (click)="Done()">Done</p> </div>
  <div class="Tool"> <p (click)="Undone()">Undone</p> </div>

  <div class="Tool Clear"> <p (click)="Clear()">Clear</p> </div>
</div>

<div class="All-tasks">
  <div class="Task" *ngFor="let task of Tasks">
    <div class="Checkbox" (click)="task.done = !task.done">
      <img src="assets/img/checked.png" *ngIf="task.done">
    </div>

    <p [ngClass]="{'Checked' : task.done}"  *ngIf="!editMode">{{task.title}}</p>

    <input type="text" name="" [placeholder]="task.title" *ngIf="editMode" (keyup)="edit($event, task.title)">

    <div class="Time"> {{task.starts}} </div>
    <div class="Time"> {{task.ends}} </div>
    <div class="Time"> {{task.id}} </div>

    <img src="assets/img/pencil.png" alt="pencil" (click)="editMode = !editMode;">
    <img src="assets/img/remove.png" alt="remove">
  </div>
</div>
